body{
    background: #EAC7C7;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.intro{
    margin: 30px 0;
    font-weight: bold;
}

h1{
    text-transform: uppercase;
    font-weight: 800;
    color: #133337;
}
P{
    font-weight: 600;
    font-size: 25px;
    font-family :fantasy;
}

#first{
    margin-top: 10px;
    color: #66545e;
}

#second{
    color: #aa6f73;
}

#third{
    color: #ff7373;
    margin-top: 30px;
}

#enter
{
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: #aa6f73;
    font-size: 25px;
}

#enter:hover{
    color: azure;
    background-color :#aa6f73;
}

input{
    border-radius: 5px;
    min-width: 65%;
    padding: 5px;
    border: none;
    font-size: 20px;
    font-family: fantasy;
}

ul{
    text-align: left;
    margin-top: 20px;
    align-items: center;
}

li{
    list-style: none;
    padding: 10px 20px;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #66545e;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #F6E0B5;
    font-family: cursive;
    align-items: center;
    min-width: 80% !important;
}

li:hover{
    background: #DBEBC2;
}

li > button{
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: black;
    font-weight: 800;
  
}

.done{
    background: #DBEBC2 !important;
    color :#66545e;
}

.delete{
    display : none;
}